.footer {
  background-color: #3f4247;
  padding: 40px 20px;
  color: #ccc;
  font-family: "Raleway";
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
  text-align: left;
}

.footer-section h4 {
  font-size: 24px;
  margin-bottom: 40px;
  color: #fff;
  font-weight: 300;
}

.footer-contact h5 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 700;
}

.footer-contact p {
  font-size: 16px;
  margin: 0;
  line-height: 2;
}

.footer-contact a {
  font-size: 16px;
  color: #ccc;
  line-height: 2;
}

.footer-contact a:hover {
  text-decoration: underline;
}

.info ul {
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
}

.info ul li {
  margin-bottom: 10px;
}

.info ul li a {
  color: #ccc;
  text-decoration: none;
}

.info ul li a:hover {
  color: #fff;
}

.social-icons a {
  margin-right: 15px;
  display: inline-block;
}

.social-icons img {
  width: 24px;
  height: 24px;
}
.social-icons img:hover {
  filter: invert(70%);
}

.logo img {
  padding: 10px;
  width: 180px;
  margin: 0 auto;
  display: block;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin: 20px 0;
    text-align: center;
  }

  .social-icons a {
    margin-right: 10px;
  }
}
